<header class="fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <h3>
                            <a [routerLink]="['/index']">Angular Fundamentals</a>
                        </h3>
                    </div>
                    <div class="col-lg-6 top-nav">
                        <nav>
                            <ul class="nav nav-pills float-right">
                                <li class="nav-item">
                                    <a class="nav-link active" [routerLink]="['/index']">Go to Index</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </header>
  
  <main role="main" class="container">
    <router-outlet></router-outlet>
  </main>
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <footer class="fixed-bottom">
    <div class="container">
        <p>Developed with &hearts; on Angular. By <a target="_blank" href="https://twitter.com/nagarjun_immadi">@nagarjun_immadi</a>. Github <a href="https://github.com/nagarjuna-immadi/angular-fundamentals" target="_blank">Repo</a></p>
    </div>
  </footer>
  