body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}

header {
    background: #fff;
}

header .container{
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #e5e5e5;
}

header h3 a, header h3 a:hover{
    color: #e47676;
    text-decoration: none;
}

main.container{
    padding-top: 100px;
    padding-bottom: 20px;
}

footer {
    background: #fff;
}

footer .container{
    padding-top: 15px;
    color: #e47676;
    border-top: 1px solid #e5e5e5;
}

.align-right {
    text-align: right;
}
.align-right .btn{
    margin-left: 10px;
}
.top-nav .nav-item{
    margin-left: 10px; 
}

a {
    cursor: pointer;
}

ul.index-list li.heading{
    margin-top: 20px;
}

ul.index-list li:first-child{
    margin-top: 10px;
}

ul.index-list li{
    margin-top: 5px;
}

.nested-list li::before {
    content: "- ";
}

.nested-list {
    padding-left: 30px;
}

ul.logs {
    list-style: none;
    padding-left: 0px;
    margin-top: 10px;
}


